<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>NamNHHE191405FirstPage</servlet-name>
        <servlet-class>controller.Logincontroller</servlet-class>
        <init-param>
            <param-name>codes</param-name>
            <param-value>lucky,hello,home</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>NamNHHE191405SecondPage</servlet-name>
        <servlet-class>controller.Secondpage</servlet-class>
        <init-param>
            <param-name>codes</param-name>
            <param-value>lucky,hello,home</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>NamNHHE191405FirstPage</servlet-name>
        <url-pattern>/NamNHHE191405FirstPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NamNHHE191405SecondPage</servlet-name>
        <url-pattern>/NamNHHE191405SecondPage</url-pattern>
    </servlet-mapping>

</web-app>
